* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
  padding-top: 80px;
}

header {
  width: 100%;
  max-height: 120px;
  min-height: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
  scroll-padding-top: none;
  scroll-margin-top: none;
  transition: background 0.5s;
}

nav {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7c6a0a;
  padding: 0 20px;
  padding-top: 5px;
  padding-bottom: 25px;
  display: flex;
  align-items: flex-end;
}
nav p {
  position: relative;
  font-size: 1.5em;
  padding-left: 15px;
}
nav .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .icons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
nav .icons button:hover {
  opacity: 0.9;
}
nav .icons .profile,
nav .icons .wishlist,
nav .icons .cart {
  display: none;
}
nav .icons .toggle {
  border-radius: 100px;
  position: relative;
  background-color: #404e7d;
  border: 1px solid #989898;
  transition: 0.5s ease all;
  display: flex;
  outline: none;
}
nav .icons .toggle::after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.5s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
nav .icons .toggle.active {
  background-color: orange;
  color: #000;
}
nav .icons .toggle.active::after {
  right: 0;
  left: unset;
}
nav .icons .toggle span {
  width: 35px;
  height: 35px;
  line-height: 40px;
  display: block;
  background-color: transparent;
  color: #fff;
}
nav .icons .toggle span i {
  font-size: 16px;
}
nav .icons .toggle:active {
  background-color: transparent;
  border-style: outset;
}

article {
  width: auto;
  color: #7c6a0a;
  padding: 0px 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
article .impact-section {
  text-align: center;
}
article .impact-section h1 {
  text-align: left;
  margin: 10px 0;
  font-size: 25px;
}
article .impact-section p {
  width: 100%;
  text-align: justify;
  margin: 20px 0px;
  font-size: 15px;
}
article .impact-section button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
article .impact-section button:hover {
  opacity: 0.9;
}
article .impact-section button:hover {
  transform: scale(1.1);
  animation: aumento 5s ease-in-out infinite 0.4s;
}
@keyframes aumento {
  0% {
    background-color: #fa9500;
  }
  20% {
    background-color: #ffd6be;
    color: #fa9500;
  }
  50% {
    background: #ffd6be;
    color: #fa6800;
  }
  80% {
    background-color: #ffd6be;
    color: #fa9500;
  }
  100% {
    background-color: #fa9500;
  }
}
article .impact-section button {
  background-color: #fa9500;
  color: #fff;
  width: 150px;
  padding: 20px;
  border-radius: 35px;
  font-size: 1em;
}
article img {
  width: 50vw;
  border-radius: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 220px;
}

section h2 {
  font-weight: 300;
  color: #7c6a0a;
  margin: 60px 0 30px 30px;
}
section .healthcare .card-section, section .furniture .card-section {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  gap: 30px;
  justify-content: space-evenly;
}
section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
  width: auto;
  height: auto;
  background-color: #ffdac6;
  color: #7c6a0a;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
section .healthcare .card-section .product-card .icon, section .furniture .card-section .product-card .icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
section .healthcare .card-section .product-card .icon svg, section .furniture .card-section .product-card .icon svg {
  width: 24px;
  height: 24px;
}
section .healthcare .card-section .product-card .icon svg path, section .furniture .card-section .product-card .icon svg path {
  stroke: #7c6a0a;
}
section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
  width: 30vw;
  min-width: 200px;
  height: 35vw;
  min-height: 240px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .healthcare .card-section .product-card .card-description, section .furniture .card-section .product-card .card-description {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
section .healthcare .card-section .product-card .card-description .card-description-footer, section .furniture .card-section .product-card .card-description .card-description-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .healthcare .card-section .product-card .card-description .card-description-footer button, section .furniture .card-section .product-card .card-description .card-description-footer button {
  margin-top: 10px;
  background-color: bisque;
  width: 100%;
  /* height: 40px; */
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  padding: 15px;
  transition: 0.5s ease transform;
}
section .healthcare .card-section .product-card .card-description .card-description-footer button:hover, section .furniture .card-section .product-card .card-description .card-description-footer button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease transform;
}
section .healthcare .card-section .product-card:first-child, section .furniture .card-section .product-card:first-child {
  margin-left: 30px;
}
section .healthcare .card-section .product-card:last-child, section .furniture .card-section .product-card:last-child {
  margin-right: 30px;
}
section .healthcare .card-section::-webkit-scrollbar, section .furniture .card-section::-webkit-scrollbar {
  display: none;
}

main {
  background-color: #ffefe7;
  transition: 0.5s ease all;
}
main .about-us .mision-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .about-us .mision-section .earth, main .about-us .mision-section .innovation {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .about-us .mision-section .earth img, main .about-us .mision-section .innovation img {
  width: 30vw;
  -o-object-fit: contain;
     object-fit: contain;
}
main .about-us .mision-section .earth p, main .about-us .mision-section .innovation p {
  width: 60%;
  font-size: 13.5px;
  color: #e86424;
  text-align: center;
}
main .gallery {
  margin-top: 60px;
}
main .gallery h2 {
  margin-top: 0;
}
main .gallery .gallery-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 54px;
}
main .gallery .gallery-images img {
  border-radius: 16px;
  width: 80vw;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s;
}
main .gallery .gallery-images img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main .location {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
main .location .map {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-left: 30px;
  border-radius: 20px;
}
main .location .map img {
  width: auto;
  height: 60vh;
  margin: 0 200px;
}
main .location .address h3,
main .location .address p {
  color: #e86424;
  font-weight: 300;
}
main .location .address h3 {
  margin-top: 45px;
  margin-left: 30px;
  font-size: 20px;
  width: 50%;
  margin-bottom: 15px;
}
main .location .address p {
  margin-left: 30px;
  font-size: 15px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: #fa9500;
}
footer .contact-form {
  padding: 10px 15px;
}
footer .contact-form h2 {
  font-size: 24px;
  width: 100%;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
  padding-left: 15px;
}
footer .contact-form .contact-data {
  width: 100%;
}
footer .contact-form .contact-data div {
  height: 40px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  transition: 0.5s ease-in-out transform;
  margin: 10px 0;
}
footer .contact-form .contact-data div span {
  font-size: 18px;
  color: #fff;
}
footer .contact-form .contact-data div .icon {
  color: #4ddb34;
  font-size: 22px;
  cursor: pointer;
  /* margin-top: 10px; */
}
footer .contact-form .contact-data div .icon:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: 0.5s ease-in-out transform;
}
footer .contact-form .contact-data div .icon.fa-copy {
  color: #9b9b9b;
  font-size: 22px;
}
footer .contact-form p {
  width: 100%;
  color: #fff;
  padding-left: 10px;
  font-size: 16px;
}
footer .contact-form .form-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
footer .contact-form .form-container form {
  border-radius: 6px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .contact-form .form-container label {
  color: #fff;
  width: 200px;
  display: block;
  padding: 10px 0;
}
footer .contact-form .form-container input,
footer .contact-form .form-container textarea {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  letter-spacing: 1px;
  color: #000;
  padding: 5px 10px;
  font-size: 15px;
}
footer .contact-form .form-container input[type=submit] {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #28c740;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  transition: 0.3s ease all;
}
footer .contact-form .form-container input[type=submit]:hover {
  cursor: pointer;
  background-color: #27c63f;
}
footer .contact-form .form-container input[type=submit]:active {
  padding: 15px;
  transition: scale 0.3s ease;
  background-color: #29a83a;
}
footer .contact-form .form-container .form-control {
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 10px;
  background-color: #535965;
  background-color: #fff;
}
footer .contact-form .form-container .form-control input {
  display: inline;
}
footer .contact-form .form-container .form-control ::-moz-placeholder {
  color: #949494;
  opacity: 0.7;
  font-weight: 700;
  font-size: 13px;
}
footer .contact-form .form-container .form-control ::placeholder {
  color: #949494;
  opacity: 0.7;
  font-weight: 700;
  font-size: 13px;
}
footer .contact-form .form-container .form-control .icon {
  color: #3cc923;
}
footer .contact-form .form-container .form-control span {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4ddb34;
  margin: 0 auto;
}
footer .contact-form .form-container .form-control span .icon {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
footer .contact-form .form-container .form-control div {
  width: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .contact-form .form-container .form-control.text-area {
  width: 100%;
  resize: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
footer .contact-form .form-container .form-control.text-area textarea {
  width: 100%;
}
footer .contact-form .form-container .form-control.text-area div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact-form .form-container .form-control.text-area div span {
  background-color: red;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}
footer .social-media {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: #fff;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 25px;
  justify-content: space-around;
  align-items: center;
}
footer .social-media h2 {
  font-size: 16px;
}
footer .social-media .social {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-media img {
  width: 25px;
  transition: 0.5s ease all;
}
footer .social-media img:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.2);
}

footer .loader-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 170, 0, 0.7);
  border-radius: 10px;
  cursor: progress;
}
footer .loader-container span {
  color: white;
  font-size: 18px;
  margin-top: 105px;
}
footer .loader {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  padding-left: 10px;
  animation: spin 1s linear infinite;
  /* background-color: black; */
}
footer .loader-animation {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer .hidden {
  display: none;
}

@media (1100px <= width) {
  body {
    margin-top: 50px;
  }
  nav {
    top: 0;
    padding: 25px 90px;
    transition: background ease 5s;
  }
  nav p {
    font-size: 26px;
    padding-left: 0px;
  }
  nav .icons {
    gap: 50px;
  }
  nav .icons .profile,
  nav .icons .wishlist,
  nav .icons .cart {
    display: flex;
  }
  article {
    width: auto;
    margin: 0 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
  }
  article .impact-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  article .impact-section h1 {
    font-size: 60px;
    margin: 0;
  }
  article .impact-section p {
    width: 80%;
    font-size: 1.5em;
  }
  article .impact-section button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  article .impact-section button:hover {
    opacity: 0.9;
  }
  article .impact-section button {
    background-color: #fa9500;
    width: 250px;
    margin-bottom: 180px;
    font-size: 15px;
  }
  article .image-section img {
    width: 30vw;
    max-width: 530px;
    border-radius: 35px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  section {
    width: 100%;
    height: auto;
    padding: 0 60px;
  }
  section h2 {
    color: #7c6a0a;
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 60px;
    margin-left-top: 10px;
    margin-left-bottom: 10px;
    margin-left-lef: 45px;
  }
  section .healthcare, section .furniture {
    padding-bottom: 60px;
  }
  section .healthcare .card-section, section .furniture .card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    -moz-column-gap: 0;
         column-gap: 0;
    max-width: 1700px;
    margin: 0 auto;
  }
  section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
    width: 30vw;
    min-width: 450px;
    max-width: 450px;
    height: 650px;
    max-height: 700px;
    background-color: #ffdac6;
    color: #7c6a0a;
    padding: 10px 12px;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  section .healthcare .card-section .product-card .icon, section .furniture .card-section .product-card .icon {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
  }
  section .healthcare .card-section .product-card .icon svg, section .furniture .card-section .product-card .icon svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  section .healthcare .card-section .product-card .icon svg:active, section .furniture .card-section .product-card .icon svg:active {
    fill: #7c6a0a;
  }
  section .healthcare .card-section .product-card .icon svg path, section .furniture .card-section .product-card .icon svg path {
    stroke: #7c6a0a;
    transition: all 0.5s ease-in-out;
  }
  section .healthcare .card-section .product-card .icon svg:hover path, section .furniture .card-section .product-card .icon svg:hover path {
    stroke: #7c6a0a;
    transition: all 0.5s ease-in-out;
  }
  section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease all;
    box-sizing: border-box;
  }
  section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
    width: 100%;
    max-width: 280px;
    height: 400px;
    max-height: 450px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .healthcare .card-section .product-card .product-image:hover, section .furniture .card-section .product-card .product-image:hover {
    transition: 0.5s ease all;
    cursor: pointer;
    transform: scale(1.1);
  }
  section .healthcare .card-section .product-card .card-description, section .furniture .card-section .product-card .card-description {
    width: 80%;
    min-width: 260px;
    max-width: 340px;
    height: auto;
  }
  section .healthcare .card-section .product-card:first-child, section .furniture .card-section .product-card:first-child {
    margin-left: 0;
  }
  section .healthcare .card-section .product-card:last-child, section .furniture .card-section .product-card:last-child {
    margin-right: 0;
  }
  main .info-section {
    margin-bottom: 100px;
  }
  main .info-section .about-us {
    margin: 50px 0;
  }
  main .info-section .about-us .mision-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  main .info-section .about-us .mision-section .earth, main .info-section .about-us .mision-section .innovation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .info-section .about-us .mision-section .earth img, main .info-section .about-us .mision-section .innovation img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 10vw;
  }
  main .info-section .about-us .mision-section .earth p, main .info-section .about-us .mision-section .innovation p {
    width: 40%;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 2px;
    color: #e86424;
  }
  main .info-section .gallery {
    margin: 100px 0;
  }
  main .info-section .gallery .gallery-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main .info-section .gallery .gallery-images img {
    border-radius: 16px;
    width: 28vw;
    height: 34vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .info-section .location {
    width: 100%;
  }
  main .info-section .location .map {
    border-radius: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main .info-section .location .map img {
    margin: 0;
    width: 90%;
    max-width: 1200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .info-section .location .address h3,
  main .info-section .location .address p {
    margin-left: 30px;
    padding: 0;
  }
  main .info-section .location .address h3 {
    font-size: 27px;
  }
  main .info-section .location .address p {
    font-size: 18px;
  }
  footer {
    width: 100%;
    background-color: #e58a01;
  }
  footer .social-media {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  footer .social-media h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 25px;
  }
  footer .social-media .social {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  footer .social-media img {
    width: 35px;
  }
  footer .contact-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 200px;
  }
  footer .contact-form h2 {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    padding-left: 40px;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  footer .contact-form .contact-data {
    width: 100%;
  }
  footer .contact-form .contact-data div {
    height: 40px;
    padding-left: 40px;
  }
  footer .contact-form .title-contact {
    text-align: left;
  }
  footer .contact-form p {
    width: 100%;
    padding-left: 40px;
  }
  footer .contact-form .form-container {
    width: 70%;
  }
  footer .contact-form .form-container form {
    width: 100%;
    max-width: 790px;
    border-radius: 6px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .contact-form .form-container label {
    color: #fff;
    width: 200px;
    display: block;
    padding: 10px 0;
  }
  footer .contact-form .form-container input,
  footer .contact-form .form-container textarea {
    width: 90%;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    margin-left: 2px;
    font-size: 16px;
  }
  footer .contact-form .form-container input[type=submit] {
    width: 30%;
    max-width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #28c740;
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
  footer .contact-form .form-container input[type=submit]:hover {
    cursor: pointer;
  }
  footer .contact-form .form-container .form-control {
    width: 100%;
    margin-top: 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #787777;
    padding: 12px 10px;
    gap: 10px;
  }
  footer .contact-form .form-container .form-control ::-moz-placeholder {
    color: #787777;
    font-size: 15px;
    font-weight: 300;
  }
  footer .contact-form .form-container .form-control ::placeholder {
    color: #787777;
    font-size: 15px;
    font-weight: 300;
  }
  footer .contact-form .form-container .form-control span {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4ddb34;
    margin: 0 auto;
  }
  footer .contact-form .form-container .form-control span .icon {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  footer .contact-form .form-container .form-control div {
    width: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  footer .contact-form .form-container .form-control.text-area {
    width: 100%;
    resize: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  footer .contact-form .form-container .form-control.text-area textarea {
    width: 100%;
  }
  footer .contact-form .form-container .form-control.text-area div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .contact-form .form-container .form-control.text-area div span {
    background-color: red;
    margin-top: 10px;
    width: 25px;
    height: 25px;
  }
  footer .contact-form .form-container .contanct-saleman {
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .contact-form .form-container .contanct-saleman p {
    background-color: #474747;
    width: 50%;
    height: 200px;
    font-size: 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
  }
}
.furniture .product-card {
  background-color: #babd8d !important;
  height: 900px;
  color: #fff !important;
}

.test {
  background-color: #fff;
  transition: background 0.5s;
  border-radius: 0 0 3px 3px;
}

.toggle-efect {
  transition: left 5s;
  transition: right 5s;
}/*# sourceMappingURL=main.css.map */