$primary-background-color: #474747;
$primary-text-color: #ddbd11;
$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);

body.dark-mode {
  background-color: $primary-background-color;
  transition: 0.5s ease all;

  nav {
    transition: 0.5s ease all;
    // background-color: #474747;
    box-shadow: $sombraDark;

    p {
      color: $primary-text-color;
    }

    .icons {
      svg path {
        stroke: $primary-text-color;
      }
    }
  }

  article {
    h1 {
      color: $primary-text-color;
    }

    p {
      color: $primary-text-color;
    }
  }

  .product-section {
    h2 {
      color: $primary-text-color;
    }

    .healthcare {
      background-color: #474747;
      .card-section {
        .product-card {
          background-color: #f3f2f2;
          .icon {
            svg path {
              stroke: rgb(221, 189, 17);
            }
            svg:active {
              fill: rgb(221, 189, 17);
            }
          }
          h3 {
            color: rgb(117, 117, 117);
            font-weight: 700;
          }

          p {
            color: rgb(117, 117, 117);
          }
        }

        // Estilos actions
        .product-card.selected {
          background-color: yellowgreen;
          h3,
          p {
            color: #fff;
          }
        }

        .product-card.alert {
          background-color: tomato;
          h3,
          p {
            color: #fff;
          }
        }
      }

      // .selected.product-card {
      //   background-color: yellowgreen;
      // }
    }

    .furniture {
      @extend .healthcare;
      .card-section {
        .product-card {
          h3 {
            color: rgb(67 67 67);
            font-weight: 700;
          }
          p {
            color: rgb(67 67 67);
          }
        }
      }
    }
  }

  .main-section {
    background-color: $primary-background-color;
    h2 {
      color: #ddbd11;
    }
  }

  .earth {
    svg path {
      fill: $primary-text-color;
    }
  }

  .innovation {
    @extend .earth;
  }
}

body.dark-mode footer {
  .contact-form {
    .form-container {
      .form-control {
        background-color: #474747;
        .icon {
          color: #3cc923;
        }

        span {
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #4ddb34;
          margin: 0 auto;
          .icon {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (1100px <= width) {
  body.dark-mode {
    footer {
      .social-media {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;

        h2 {
          text-align: center;
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 25px;
        }

        .social {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 100px;
        }

        img {
          width: 35px;
        }
      }

      .contact-form {
        width: 100%;
        // max-width: 800px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 10px 200px;

        h2 {
          width: 100%;
          color: #fff;
          padding: 10px 0;
          text-align: center;
          padding-left: 40px;
          margin-bottom: 0;
          box-sizing: border-box;
        }

        .title-contact {
          text-align: left;
        }

        p {
          width: 100%;
          padding-left: 40px;
        }

        .form-container {
          width: 70%;
          // display: flex;
          // flex-direction: row;
          // justify-content: space-between;

          form {
            width: 100%;
            max-width: 790px;
            border-radius: 6px;
            padding: 10px 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }

          label {
            color: #fff;
            width: 200px;
            display: block;
            padding: 10px 0;
          }

          input,
          textarea {
            width: 90%;
            border: none;
            outline: none;
            border-radius: 3px;
            padding: 10px;
            margin-left: 2px;
            font-size: 16px;
            color: #FFF;
            &:valid {
              // border: 1px solid #28c740;
            }
            &:invalid {
              // border: 1px solid red;
            }
          }

          input[type="submit"] {
            width: 30%;
            max-width: 200px;
            height: 50px;
            cursor: pointer;
            background-color: #28c740;
            text-align: center;
            margin-top: 20px;
            color: #fff;

            &:hover {
              cursor: pointer;
            }
          }

          .form-control {
            width: 100%;
            margin-top: 5px;
            border-radius: 6px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid #787777;
            padding: 12px 10px;
            gap: 10px;

            ::placeholder {
              color: #787777;
              font-size: 15px;
              font-weight: 300;
            }

            span {
              border-radius: 50%;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #4ddb34;
              margin: 0 auto;
              .icon {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
              }
            }

            div {
              width: 5%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              // background-color: #404e7d;
            }
          }

          .form-control.text-area {
            width: 100%;
            resize: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;

            textarea {
              width: 100%;
            }

            div {
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                background-color: red;
                margin-top: 10px;
                width: 25px;
                height: 25px;
              }
            }
          }

          .contanct-saleman {
            box-sizing: border-box;
            text-align: left;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              background-color: #474747;
              width: 50%;
              height: 200px;
              font-size: 23px;
              text-align: center;
              vertical-align: middle;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}

h1[title="main"] {
  background-color: yellowgreen;
  color: #fff;
}
