$primary-background-color: #474747;
$primary-text-color: #ddbd11;
$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
body.dark-mode {
  background-color: $primary-background-color;
  transition: 0.5s ease all;

  nav {
    transition: 0.5s ease all;
    // background-color: #474747;
    box-shadow: $sombraDark;

    p {
      color: $primary-text-color;
    }

    .icons {
      svg path {
        stroke: $primary-text-color;
      }
    }
  }

  article {
    h1 {
      color: $primary-text-color;
    }

    p {
      color: $primary-text-color;
    }
  }

  .product-section {
    h2 {
      color: $primary-text-color;
    }

    .healthcare {
      background-color: #474747;
      .card-section {
        .product-card {
          background-color: #f3f2f2;
          h3 {
            color: rgb(117, 117, 117);
            font-weight: 700;
          }

          p {
            color: rgb(117, 117, 117);
          }
        }

        // Estilos actions
        .product-card.selected {
          background-color: yellowgreen;
          h3,
          p {
            color: #fff;
          }
        }

        .product-card.alert {
          background-color: tomato;
          h3,
          p {
            color: #fff;
          }
        }
      }

      // .selected.product-card {
      //   background-color: yellowgreen;
      // }
    }

    .furniture {
      @extend .healthcare;
      .card-section {
        .product-card {
          h3 {
            color: rgb(67 67 67);
            font-weight: 700;
          }
          p {
            color: rgb(67 67 67);
          }
        }
      }
    }
  }

  .main-section {
    background-color: $primary-background-color;
    h2 {
      color: #ddbd11;
    }
  }

  .earth {
    svg path {
      fill: $primary-text-color;
    }
  }

  .innovation {
    @extend .earth;
  }
}

h1[title="main"] {
  background-color: yellowgreen;
  color: #fff;
}
