@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

// $background-primary-color: rgb(204 255 193 / 50%);
$background-primary-color: rgb(236 252 215);
$secondary-color: #ffdac6;
$thirdy-color: #babd8d;
$fourthy-color: #fa9500;
$primary-text-color: #7c6a0a;
// $primary-text-color: #cfb20e;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.3em;

$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
$sombraLight: 10px 10px 20px rgba(0, 0, 0, 0.16);

@mixin flexProperties($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.9;
  }
}

@mixin buttonAnimation {
  button:hover {
    transform: scale(1.1);
    animation: aumento 5s ease-in-out infinite 0.4s;

    @keyframes aumento {
      0% {
        background-color: #fa9500;
      }
      20% {
        background-color: #ffd6be;
        color: #fa9500;
      }
      50% {
        background: #ffd6be;
        color: #fa6800;
      }
      80% {
        background-color: #ffd6be;
        color: #fa9500;
      }
      100% {
        background-color: #fa9500;
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100vh;

  font-family: $font-stack;
}

.page {
  // background-color: $background-primary-color;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
  min-height: auto;
  overflow: hidden;
  // position: fixed;
  top: 0;
  z-index: 9999;
  scroll-padding-top: none;
  scroll-margin-top: none;
  transition: background 0.5s;
  // background-color: #fce8de;

  nav {
    @include flexProperties(row, space-between, center);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 4;
    color: $primary-text-color;
    padding: 15px 30px;

    p {
      position: relative;
      font-size: 1.5em;
      padding-left: 15px;
      color: #6f8f22;
    }

    .btn-menu {
      border: none;
      background-color: transparent;
      .icon.menu {
        font-size: 18px;
      }
    }

    .icons {
      display: none;
      gap: 20px;

      @include buttonStyle;

      .toggle {
        border-radius: 100px;
        position: relative;
        background-color: #404e7d;
        border: 1px solid #989898;
        transition: 0.5s ease all;
        display: flex;
        // Border por defecto agregado por google chrome
        outline: none;

        &::after {
          content: "";
          display: block;
          width: 35px;
          height: 35px;
          position: absolute;
          background-color: #f1f1f1;
          top: 0;
          left: 0;
          right: unset;
          border-radius: 100px;
          transition: 0.5s ease all;
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
        }

        &.active {
          background-color: orange;
          color: #000;
          &::after {
            right: 0;
            left: unset;
          }
        }

        span {
          width: 35px;
          height: 35px;
          line-height: 40px;
          display: block;
          background-color: transparent;
          color: #fff;

          i {
            font-size: 16px;
          }
        }

        &:active {
          background-color: transparent;
          border-style: outset;
        }
      }
    }
  }

  article {
    width: auto;
    // color: $primary-text-color;
    color: #12101d;
    padding: 0 30px;
    padding-top: 60px;
    @include flexProperties(column, space-between, center);

    .impact-section {
      text-align: center;

      h1 {
        text-align: left;
        margin: 10px 0;
        font-size: 25px;
      }

      p {
        width: 100%;
        text-align: center;
        margin: 20px 0px;
        font-size: 17px;
        color: #3d9128;
        letter-spacing: 0.5px;
        line-height: 1.5;
      }

      @include buttonStyle;
      @include buttonAnimation;
      button {
        background-color: $fourthy-color;
        color: #fff;
        width: 150px;
        padding: 20px;
        border-radius: 35px;
        font-size: 1em;
      }
    }

    .image-section {
      padding: 30px 0;
      width: 100%;
      max-width: 1125px;
      text-align: center;
      img {
        display: none;
        width: 10vw;
        border-radius: 5px;
        object-fit: cover;
        min-width: 320px;
        max-width: 400px;
      }
    }
  }

  // &::after {
  //   position: absolute;
  //   top: 10px;
  //   right: 0;
  //   content: " ";
  //   z-index: -1;
  //   background-image: url(../assets/transparent/sarah-dorweiler-x2Tmfd1-SgA-unsplash-removebg-preview.png);
  //   background-position: left;
  //   background-repeat: no-repeat;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: contain;
  //   opacity: .7;
  // }
}

.product-section {
  // width: 100%;
  // height: auto;
  // padding: 0 60px;

  h2 {
    font-weight: 300;
    color: $primary-text-color;
    padding: 0px 0 30px 30px;
  }

  .healthcare {
    .card-section {
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      overflow-x: scroll;
      gap: 30px;
      justify-content: space-evenly;
      padding-bottom: 20px;

      .product-card {
        width: auto;
        // height: auto;
        height: 535px;
        background-color: rgb(255, 255, 255, 1);
        // border: 1px solid #000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: $primary-text-color;
        padding: 10px 20px;

        @include flexProperties(column, center, center);
        border-radius: 8px;

        .icon {
          width: 100%;
          @include flexProperties(row, flex-end, center);
          padding: 10px 0;

          svg {
            width: 24px;
            height: 24px;
          }
          svg path {
            stroke: $primary-text-color;
          }
          h3 {
            font-size: 17px;
          }
        }

        .product-image {
          position: relative;
          width: 100%;
          height: 900px;
          // border: 1px solid #fa9500;
          padding: 0 10px;
          @include flexProperties(row, center, center);

          img {
            position: relative;
            width: 30vw;
            min-width: 200px;
            height: 35vw;
            min-height: 240px;
            border-radius: 6px;
            object-fit: cover;
          }
        }

        .card-description {
          width: 100%;
          height: 100%;
          padding: 0px 15px;
          margin-top: 15px;
          margin-bottom: 20px;

          .card-description-footer {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
              margin-top: 10px;
              background-color: bisque;
              width: 100%;
              /* height: 40px; */
              border: none;
              border-radius: 10px;
              color: black;
              font-weight: bolder;
              padding: 15px;
              transition: 0.5s ease transform;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.5s ease transform;
              }
            }
          }
        }
      }

      .product-card:first-child {
        margin-left: 30px;
      }

      .product-card:last-child {
        margin-right: 30px;
      }
    }

    .card-section::-webkit-scrollbar {
      display: none;
    }
  }
}

main {
  .main-gallery {
    position: relative;
    width: auto;
    height: auto;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    width: 100%;
    overflow-x: scroll;

    img {
      border-radius: 10px;
      width: 35%;
      min-width: 160px;
      max-width: 300px;
      mask-image: linear-gradient(black 95%, transparent);
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      &:after {
        position: absolute;
        content: "instragram";
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #008cba;
    }

    &:hover .overlay {
      opacity: 0.5;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  transition: 0.5s ease all;
  .info-materiales {
    height: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 10px;
      width: 80%;
    }

    p {
      width: 100%;
      margin: auto 20px;
      padding: 20px 50px;
      line-height: 1.8;
      font-size: 18px;
      color: #9ab558;
    }
  }

  .about-us {
    .mision-section {
      @include flexProperties(column, space-around, center);

      .earth {
        height: 200px;
        @include flexProperties(column, space-evenly, center);
        img {
          width: 30vw;
          object-fit: contain;
        }
        p {
          width: 60%;
          font-size: 13.5px;
          color: #9ab558;
          text-align: center;
        }
      }

      .innovation {
        @extend .earth;
      }
    }
  }

  .gallery {
    h2 {
      margin-top: 0;
      padding: 60px 0 30px 30px;
    }
    .gallery-images {
      @include flexProperties(column, space-between, center);
      row-gap: 54px;
      img {
        border-radius: 16px;
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        transition: transform 0.4s;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }

  .location {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    .map {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;

      // margin-left: 30px;
      border-radius: 20px;

      img {
        width: 90%;
        height: 60vh;
        margin: 0 auto;
        object-fit: cover;
      }
    }

    .address {
      padding: 45px 0 0 30px;

      h3,
      p {
        color: #ddbd11;
        font-size: 15px;
      }
      h3 {
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        padding-bottom: 5px;
      }
    }
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  // background-color: $fourthy-color;
  background-color: rgba(0, 0, 0, 0.8);

  .contact-form {
    padding: 10px 15px;

    h2 {
      width: 100%;
      text-align: left;
      color: #fff;
      margin-bottom: 10px;
      padding-left: 15px;
    }

    .contact-data {
      width: 100%;

      div {
        height: 40px;
        padding-left: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        transition: 0.5s ease-in-out transform;
        margin: 10px 0;

        span {
          font-size: 14px;
          color: #fff;
        }

        .icon {
          color: #4ddb34;
          font-size: 27px;
          cursor: pointer;

          /* margin-top: 10px; */
          &:hover {
            opacity: 0.8;
            transform: scale(1.1);
            transition: 0.5s ease-in-out transform;
          }
        }
      }
    }

    .email.contact-data {
      color: #fff;
      font-size: 25px;
    }

    p {
      width: 90%;
      color: #fff;
      padding-left: 10px;
      font-size: 14px;
    }

    .form-container {
      display: none;
      width: 100%;
      // display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      form {
        border-radius: 6px;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background-color: #f79f06;
      }

      label {
        color: #fff;
        width: 200px;
        display: block;
        padding: 10px 0;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 3px;
        background-color: transparent;
        letter-spacing: 1px;
        color: #000;
        padding: 5px 10px;
        font-size: 15px;
      }

      input[type="submit"] {
        width: 100%;
        height: 50px;
        cursor: pointer;
        background-color: #28c740;
        text-align: center;
        margin-top: 20px;
        color: #fff;

        transition: 0.3s ease all;

        &:hover {
          cursor: pointer;
          // opacity: 0.8;
          background-color: #27c63f;
        }

        &:active {
          padding: 15px;
          transition: scale 0.3s ease;
          background-color: #29a83a;
        }
      }

      .form-control {
        width: 100%;
        margin-top: 10px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding: 12px 10px;
        background-color: #535965;
        background-color: #fff;

        input {
          display: inline;
        }

        ::placeholder {
          color: #949494;
          opacity: 0.7;
          font-weight: 700;
          font-size: 13px;
        }

        .icon {
          color: #3cc923;
        }

        span {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #4ddb34;
          margin: 0 auto;
          .icon {
            color: #fff;
            font-size: 12px;
            font-weight: bold;
          }
        }

        div {
          width: 5%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          // background-color: #404e7d;
        }
      }

      .form-control.text-area {
        width: 100%;
        resize: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        textarea {
          width: 100%;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            background-color: red;
            margin-top: 10px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .social-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    // column-gap: 10px;
    margin-top: 15px;
    color: #fff;

    h2 {
      font-size: 16px;
      text-align: center;
    }

    .social {
      margin-top: 10px;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // column-gap: 60px;
    }

    justify-content: space-around;
    align-items: center;
    img {
      width: 25px;
      transition: 0.5s ease all;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.2);
      }
    }
  }
}

// loader styles
footer {
  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 170, 0, 0.7);
    border-radius: 10px;
    cursor: progress;
  }

  .loader-container span {
    color: white;
    font-size: 18px;
    margin-top: 105px;
  }

  .loader {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    padding-left: 10px;
    animation: spin 1s linear infinite;
    /* background-color: black; */
  }

  .loader-animation {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .hidden {
    display: none;
  }
}

footer {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;

  .contact-form,
  .copyright {
    position: relative;
    text-align: left;
    color: #f3f3f3;
    font-weight: 500;
    margin: 10px 0;
    font-size: 14px;

    span {
      padding-left: 30px;
      width: 100%;
    }
  }
}

@media (800px <= width) {
  body {
    // margin-top: 50px;
  }

  header {
    height: auto;
    // min-height: auto;
    // max-height: 500px;

    nav {
      @include flexProperties(row, space-between, center);
      position: relative;
      // background-color: #fce8de;
      top: 0;
      padding: 25px 90px;
      transition: background ease 5s;

      p {
        position: relative;
        font-size: 26px;
        padding-left: 70px;
      }

      button[open-hamburger-menu] {
        display: none;
      }

      .icons {
        @include flexProperties(row, center, center);
        position: relative;
        gap: 50px;

        .profile,
        .wishlist,
        .cart {
          display: flex;
        }
      }
    }
    // &::after {
    //   position: absolute;
    //   bottom: 10px;
    //   left: 0;
    //   z-index: -1;
    //   content: " ";
    //   background-image: url(../assets/transparent/sarah-dorweiler-x2Tmfd1-SgA-unsplash-removebg-preview.png);
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   object-fit: cover;
    //   opacity: 0.7;
    // }

    article {
      position: relative;
      width: auto;
      margin: 0 65px;
      @include flexProperties(row, space-between, center);

      padding: 0px 90px;

      .impact-section {
        position: relative;
        text-align: left;
        @include flexProperties(column, space-around, flex-start);

        h1 {
          font-size: 60px;
          margin: 0;
        }

        p {
          width: 100%;
          max-width: 900px;
          font-size: 1.5em;
        }

        @include buttonStyle;
        button {
          background-color: #fa9500;
          width: 250px;
          margin-bottom: 180px;
          font-size: 15px;
        }
      }
      .image-section {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        img {
          display: block;
          width:100%;
          max-width: 400px;
          border-radius: 35px;
          object-fit: contain;
          // mask-image: radial-gradient(black, transparent);
        }
      }
    }
  }

  .product-section {
    width: 100%;
    height: auto;
    padding: 0 70px;
    // background-color: blue;

    h2 {
      color: $primary-text-color;
      font-size: 35px;
      font-weight: 300;
      padding: 0;
      padding-left: 30px;
    }

    .healthcare {
      padding-bottom: 60px;

      .card-section {
        @include flexProperties(row, space-evenly, flex-start);
        flex-wrap: wrap;
        width: auto;
        height: auto;
        max-width: 2150px;
        margin: 0 auto;
        row-gap: 20px;

        .product-card {
          color: 1px solid #fff;
          width: 40vw;
          min-width: 450px;
          max-width: 500px;
          height: 600px;
          // background-color: $secondary-color;
          color: $primary-text-color;
          padding: 10px 12px;

          margin: 0;
          padding: 0;

          border-radius: 5px;
          justify-content: space-evenly;
          margin-top: 20px;
          .icon {
            width: 100%;
            @include flexProperties(row, flex-end, center);
            padding: 20px 25px;

            svg {
              width: 32px;
              height: 32px;
              cursor: pointer;
            }

            svg:active {
              fill: $primary-text-color;
            }

            svg path {
              stroke: $primary-text-color;
              transition: all 0.5s ease-in-out;
            }

            svg:hover path {
              stroke: $primary-text-color;
              transition: all 0.5s ease-in-out;
            }
          }
          .product-image {
            position: relative;
            width: 100%;
            max-height: 450px;
            height: auto;
            // @include flexProperties(row, center, center);
            transition: 0.5s ease all;
            // box-sizing: border-box;

            // float: left !important;

            img {
              // border: 1px solid #ddd;
              width: 50%;
              max-width: 300px;
              height: auto;
              max-height: 450px;
              border-radius: 5px;
              object-fit: contain;
            }
            &:hover {
              transition: 0.5s ease all;
              cursor: pointer;
              opacity: 0.8;
            }
          }

          .card-description {
            margin: 20px 0;
            width: 80%;
            min-width: 260px;
            // max-width: 340px;
            height: 150px;
          }
        }

        .product-card:first-child {
          margin-left: 0;
        }

        .product-card:last-child {
          margin-right: 0;
        }
      }
    }
  }

  main {
    .main-gallery {
      width: auto;
      height: auto;
      padding: 50px 100px;
    }
    .info-section {
      .info-materiales {
        height: auto;
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img {
          border-radius: 10px;
          width: 30%;
          max-width: 470px;
        }

        p {
          width: 700px;
          margin: auto 20px;
          padding: 0 100px;
          line-height: 1.8;
          font-size: 26px;
          color: #9ab558;
        }
      }
      .about-us {
        margin: 50px 0;

        .mision-section {
          @include flexProperties(row, space-evenly, center);
          column-gap: 100px;
          .earth {
            @include flexProperties(row, center, center);

            text-align: center;

            img {
              object-fit: contain;
              width: 10vw;
            }

            p {
              width: 40%;
              font-size: $paragraph-size;
              text-align: center;
              letter-spacing: 2px;
              color: #9ab558;
            }
          }
        }
      }

      .gallery {
        margin: 100px 0;
        .gallery-images {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            border-radius: 16px;
            width: 20vw;
            object-fit: cover;
          }
        }
      }

      .location {
        width: 100%;
        .map {
          border-radius: 20px;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          img {
            margin: 0;
            width: 90%;
            max-width: 910px;
            object-fit: contain;
          }
        }

        .address {
          h3,
          p {
            margin-left: 30px;
            padding: 0;
          }

          h3 {
            font-size: 27px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    padding-top: 10px;

    .social-media {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;

      h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 25px;
      }

      .social {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
      }

      img {
        width: 35px;
      }
    }

    .contact-form {
      width: 100%;
      // max-width: 800px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      padding: 0 50px;

      h2 {
        width: 100%;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        padding-left: 40px;
        margin-bottom: 0;
        box-sizing: border-box;
      }

      .contact-data {
        width: 100%;

        div {
          height: 40px;
          padding-left: 40px;
        }
      }

      .title-contact {
        text-align: left;
      }

      p {
        width: 100%;
        padding-left: 40px;
      }

      .form-container {
        display: none;
        width: 70%;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;

        form {
          width: 100%;
          min-width: 650px;
          max-width: 700px;
          border-radius: 6px;
          padding: 10px 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        label {
          color: #fff;
          width: 200px;
          display: block;
          padding: 10px 0;
        }

        input,
        textarea {
          width: 90%;
          border: none;
          outline: none;
          border-radius: 3px;
          padding: 10px;
          margin-left: 2px;
          font-size: 16px;
          &:valid {
            // border: 1px solid #28c740;
          }
          &:invalid {
            // border: 1px solid red;
          }
        }

        input[type="submit"] {
          width: 30%;
          max-width: 200px;
          height: 50px;
          cursor: pointer;
          background-color: #28c740;
          text-align: center;
          margin-top: 20px;
          color: #fff;

          &:hover {
            cursor: pointer;
          }
        }

        .form-control {
          width: 100%;
          margin-top: 5px;
          border-radius: 6px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border: 1px solid #787777;
          padding: 12px 10px;
          gap: 10px;

          ::placeholder {
            color: #787777;
            font-size: 15px;
            font-weight: 300;
          }

          span {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4ddb34;
            margin: 0 auto;
            .icon {
              color: #fff;
              font-size: 14px;
              font-weight: bold;
            }
          }

          div {
            width: 5%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // background-color: #404e7d;
          }
        }

        .form-control.text-area {
          width: 100%;
          resize: none;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;

          textarea {
            width: 100%;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              background-color: red;
              margin-top: 10px;
              width: 25px;
              height: 25px;
            }
          }
        }

        .contanct-saleman {
          box-sizing: border-box;
          text-align: left;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            background-color: #474747;
            width: 50%;
            height: 200px;
            font-size: 23px;
            text-align: center;
            vertical-align: middle;
            border-radius: 20px;
          }
        }
      }
    }
    .copyright {
      position: relative;
      text-align: left;
      color: #f3f3f3;
      font-weight: 500;
      margin: 10px 0;
      font-size: 14px;
      padding: 0 60px;

      span {
        // padding-left: 90px;
        width: 100%;
      }
    }
  }
}

.furniture {
  @extend .healthcare;
  .product-card {
    // background-color: $thirdy-color !important;
    height: 900px;
    // color: #fff !important;
  }
}

.innovation {
  @extend .earth;
}

// Efectos
.toggle-efect {
  transition: left 5s;
  transition: right 5s;
}

@media (1500px <= width) {
  header {
    article {
      margin: 0 300px;
      .image-section {
        img {
          width: 35%;
        }
      }
    }
  }
  main {
    width: 80%;
    margin: 0 auto;
  }
}
