$primary-color: #ffefe7;
// $primary-color: #fff;
$secondary-color: #ffdac6;
$thirdy-color: #babd8d;
$fourthy-color: #fa9500;
$primary-text-color: #7c6a0a;
// $primary-text-color: #cfb20e;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.3em;

$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
$sombraLight: 10px 10px 20px rgba(0, 0, 0, 0.16);

@mixin flexProperties($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.9;
  }
}

@mixin buttonAnimation {
  button:hover {
    transform: scale(1.1);
    animation: aumento 5s ease-in-out infinite 0.4s;

    @keyframes aumento {
      0% {
        background-color: #fa9500;
      }
      20% {
        background-color: #ffd6be;
        color: #fa9500;
      }
      50% {
        background: #ffd6be;
        color: #fa6800;
      }
      80% {
        background-color: #ffd6be;
        color: #fa9500;
      }
      100% {
        background-color: #fa9500;
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  font-family: $font-stack;
  padding-top: 130px;
}

header {
  width: 100%;
  max-height: 120px;
  min-height: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
  scroll-padding-top: none;
  scroll-margin-top: none;
  transition: background 0.5s;
  // background-color: #fce8de;
}

nav {
  position: relative;
  top: 10px;

  @include flexProperties(row, space-between, center);

  color: $primary-text-color;
  padding: 0 20px;
  padding-top: 5px;
  padding-bottom: 25px;
  display: flex;
  align-items: flex-end;
  p {
    position: relative;
    font-size: 1.5em;
    padding-left: 15px;
  }
  .icons {
    @include flexProperties(row, center, center);
    gap: 20px;

    @include buttonStyle;

    .profile,
    .wishlist,
    .cart {
      display: none;
    }

    .toggle {
      border-radius: 100px;
      position: relative;
      background-color: #404e7d;
      border: 1px solid #989898;
      transition: 0.5s ease all;
      display: flex;
      // Border por defecto agregado por google chrome
      outline: none;

      &::after {
        content: "";
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        background-color: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: 0.5s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
      }

      &.active {
        background-color: orange;
        color: #000;
        &::after {
          right: 0;
          left: unset;
        }
      }

      span {
        width: 35px;
        height: 35px;
        line-height: 40px;
        display: block;
        background-color: transparent;
        color: #fff;

        i {
          font-size: 16px;
        }
      }

      &:active {
        background-color: transparent;
        border-style: outset;
      }
    }
  }
}

article {
  width: auto;
  color: $primary-text-color;
  padding: 0px 30px;
  @include flexProperties(column-reverse, space-between, center);

  .impact-section {
    text-align: center;

    h1 {
      text-align: left;
      margin: 10px 0;
      font-size: 25px;
    }

    p {
      width: 100%;
      text-align: justify;
      margin: 20px 0px;
      font-size: 15px;
    }

    @include buttonStyle;
    @include buttonAnimation;
    button {
      background-color: $fourthy-color;
      color: #fff;
      width: 150px;
      padding: 20px;
      border-radius: 35px;
      font-size: 1em;
    }
  }

  img {
    width: 50vw;
    border-radius: 35px;
    object-fit: cover;
    min-width: 280px;
  }
}

section {
  // width: 100%;
  // height: auto;
  // padding: 0 60px;

  h2 {
    font-weight: 300;
    color: $primary-text-color;
    margin: 60px 0 30px 30px;
  }

  .healthcare {
    .card-section {
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      overflow-x: scroll;
      gap: 30px;
      justify-content: space-evenly;

      .product-card {
        width: auto;
        height: auto;
        background-color: $secondary-color;
        color: $primary-text-color;
        padding: 10px 20px;

        @include flexProperties(column, center, center);
        border-radius: 8px;

        .icon {
          width: 100%;
          @include flexProperties(row, flex-end, center);
          padding: 10px 0;

          svg {
            width: 24px;
            height: 24px;
          }
          svg path {
            stroke: $primary-text-color;
          }
        }

        .product-image {
          width: 100%;
          // border: 1px solid #fa9500;
          padding: 0 10px;
          @include flexProperties(row, center, center);

          img {
            width: 30vw;
            min-width: 200px;
            height: 35vw;
            min-height: 240px;
            border-radius: 6px;
            object-fit: cover;
          }
        }

        .card-description {
          width: 100%;
          height: 100%;
          padding: 0px 15px;
          margin-top: 35px;
          margin-bottom: 40px;
        }
      }

      .product-card:first-child {
        margin-left: 30px;
      }

      .product-card:last-child {
        margin-right: 30px;
      }
    }

    .card-section::-webkit-scrollbar {
      display: none;
    }
  }
}

main {
  background-color: $primary-color;
  transition: 0.5s ease all;

  .about-us {
    .mision-section {
      @include flexProperties(column, space-around, center);

      .earth {
        height: 200px;
        @include flexProperties(column, space-evenly, center);
        img {
          width: 30vw;
          object-fit: contain;
        }
        p {
          width: 60%;
          font-size: 13.5px;
          color: #e86424;
          text-align: center;
        }
      }

      .innovation {
        @extend .earth;
      }
    }
  }

  .gallery {
    margin-top: 60px;

    h2 {
      margin-top: 0;
    }
    .gallery-images {
      @include flexProperties(column, space-between, center);
      row-gap: 54px;
      img {
        border-radius: 16px;
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        transition: transform 0.4s;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }

  .location {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    .map {
      width: 340px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;

      margin-left: 30px;
      border-radius: 20px;

      img {
        width: auto;
        height: 60vh;
        margin: 0 200px;
      }
    }

    .address {
      h3,
      p {
        color: #e86424;
        font-weight: 300;
      }
      h3 {
        margin: {
          top: 45px;
          left: 30px;
        }
        font-size: 20px;
        width: 50%;
        margin-bottom: 15px;
      }
      p {
        margin-left: 30px;
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: $fourthy-color;

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

    h2 {
      color: #fff;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .form-container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      form {
        border-radius: 6px;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background-color: #f79f06;
      }

      label {
        color: #fff;
        width: 200px;
        display: block;
        padding: 10px 0;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 3px;
        // background-color: rgb(27, 27, 27);
        // color: #fff;
        letter-spacing: 1px;
        color: #000;
        padding: 5px 10px;
        font-size: 15px;
      }

      input {
        background-color: transparent;
      }

      input[type="submit"] {
        width: 100%;
        height: 50px;
        cursor: pointer;
        background-color: #28c740;
        text-align: center;
        margin-top: 20px;
        color: #fff;

        transition: 0.3s ease all;

        &:hover {
          cursor: pointer;
          // opacity: 0.8;
          background-color: #27c63f;
        }

        &:active {
          padding: 15px;
          transition: scale 0.3s ease;
          background-color: #29a83a;
        }
      }

      .form-control {
        width: 100%;
        margin-top: 10px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding: 12px 10px;
        background-color: #535965;
        background-color: #FFF;

        input {
          display: inline;
        }

        ::placeholder {
          color: #949494;
          opacity: .7;
          font-weight: 700;
          font-size: 13px;
        }

        .icon {
          color: #32d197;
          /* border: 1px solid #fff; */
          /* color: #FFF; */
          display: inline;
        }
      }
    }
  }

  h3,
  p {
    color: #fff;
  }

  h3 {
    margin-top: 30px;
    margin-left: 30px;
  }

  p {
    margin: {
      left: 30px;
      top: 15px;
    }
  }

  p:last-child {
    margin-bottom: 20px;
  }

  .social-media {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    column-gap: 10px;

    color: #fff;

    h2 {
      font-size: 16px;
    }

    .social {
      margin-top: 10px;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // column-gap: 60px;
    }

    margin: {
      top: 25px;
      left: 10px;
      bottom: 25px;
    }
    justify-content: space-around;
    align-items: center;
    img {
      width: 25px;
      transition: .5s ease all;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.2);
      }
    }
  }
}

@media (1100px <= width) {
  body {
    margin-top: 50px;
  }
  nav {
    // background-color: #fce8de;
    top: 0;
    padding: 25px 90px;
    transition: background ease 5s;

    p {
      font-size: 26px;
      padding-left: 0px;
    }

    .icons {
      gap: 50px;

      .profile,
      .wishlist,
      .cart {
        display: flex;
      }
    }
  }
  article {
    width: auto;
    margin: 0 65px;
    @include flexProperties(row, space-between, center);

    padding: 0px 90px;

    .impact-section {
      text-align: left;
      @include flexProperties(column, space-around, flex-start);

      h1 {
        font-size: 60px;
        margin: 0;
      }

      p {
        width: 80%;
        font-size: 1.5em;
      }

      @include buttonStyle;
      button {
        background-color: #fa9500;
        width: 250px;
        margin-bottom: 180px;
        font-size: 15px;
      }
    }
    .image-section {
      img {
        width: 30vw;
        max-width: 530px;
        border-radius: 35px;
        object-fit: contain;
      }
    }
  }

  section {
    width: 100%;
    height: auto;
    padding: 0 60px;

    h2 {
      color: $primary-text-color;
      font-size: 35px;
      font-weight: 300;
      padding-bottom: 60px;
      margin-left: {
        top: 10px;
        bottom: 10px;
        lef: 45px;
      }
    }

    .healthcare {
      padding-bottom: 60px;

      .card-section {
        @include flexProperties(row, space-evenly, flex-start);
        flex-wrap: wrap;
        width: auto;
        height: auto;
        row-gap: 50px;

        .product-card {
          width: 34vw;
          max-width: 550px;
          height: 660px;
          max-height: 660px;
          background-color: $secondary-color;
          color: $primary-text-color;
          padding: 10px 12px;
          margin: 0;
          padding: 0;
          border-radius: 8px;
          justify-content: space-evenly;
          margin-top: 20px;
          .icon {
            width: 100%;
            height: auto;
            @include flexProperties(row, flex-end, center);
            padding: 25px 15px;

            svg {
              width: 32px;
              height: 32px;
              cursor: pointer;
            }

            svg:active {
              fill: $primary-text-color;
            }

            svg path {
              stroke: $primary-text-color;
              transition: all 0.5s ease-in-out;
            }

            svg:hover path {
              stroke: $primary-text-color;
              transition: all 0.5s ease-in-out;
            }
          }
          .product-image {
            width: 100%;
            max-height: 500px;
            @include flexProperties(row, center, center);
            padding: 0 30px;
            transition: 0.5s ease all;
            box-sizing: border-box;

            img {
              // border: 1px solid #ddd;
              width: 100%;
              max-width: 250px;
              height: 400px;
              max-height: 400px;
              border-radius: 10px;
              object-fit: cover;
            }
            &:hover {
              transition: 0.5s ease all;
              cursor: pointer;
              transform: scale(1.1);
            }
          }

          .card-description {
            width: 80%;
            min-width: 260px;
            max-width: 340px;
            height: auto;
          }
        }

        .product-card:first-child {
          margin-left: 0;
        }

        .product-card:last-child {
          margin-right: 0;
        }
      }
    }
  }

  main {
    .info-section {
      margin-bottom: 100px;
      .about-us {
        margin: 50px 0;

        .mision-section {
          @include flexProperties(row, space-evenly, center);
          column-gap: 100px;
          .earth {
            @include flexProperties(row, center, center);

            text-align: center;

            img {
              object-fit: contain;
              width: 10vw;
            }

            p {
              width: 40%;
              font-size: $paragraph-size;
              text-align: center;
              letter-spacing: 2px;
              color: #e86424;
            }
          }
        }
      }

      .gallery {
        margin: 100px 0;
        .gallery-images {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            border-radius: 16px;
            width: 28vw;
            height: 34vh;
            object-fit: cover;
          }
        }
      }

      .location {
        width: 100%;
        .map {
          border-radius: 20px;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          img {
            margin: 0;
            width: 90%;
            max-width: 1200px;
            object-fit: cover;
          }
        }

        .address {
          h3,
          p {
            margin-left: 30px;
            padding: 0;
          }

          h3 {
            font-size: 27px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e58a01;

    h2 {
      width: 100%;
      color: #fff;
      padding: 10px 0;
      text-align: left;
      padding: 0 40px;
    }

    p {
      width: 100%;
      padding-left: 28px;
      justify-content: flex-end;
    }

    .social-media {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;

      h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 25px;
      }

      .social {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
      }

      img {
        width: 35px;
      }
    }

    .contact-form {
      width: 50%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 30px;

      .form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        form {
          width: 100%;
          border-radius: 6px;
          padding: 10px 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        label {
          color: #fff;
          width: 200px;
          display: block;
          padding: 10px 0;
        }

        input,
        textarea {
          width: 100%;
          border: none;
          outline: none;
          border-radius: 10px;
          // background-color: rgb(27, 27, 27);
          // color: #fff;
          padding: 5px 10px;
          font-size: 15px;
        }

        input {
          background-color: transparent;
        }

        input[type="submit"] {
          width: 40%;
          max-width: 300px;
          height: 50px;
          cursor: pointer;
          background-color: #28c740;
          text-align: center;
          margin-top: 20px;
          color: #fff;

          &:hover {
            cursor: pointer;
          }
        }

        .form-control {
          width: 100%;
          // max-width: 700px;
          margin-top: 10px;
          border-radius: 6px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          padding: 12px 10px;
          // background-color: #535965;

          input {
            /* width: 50%; */
            /* border: 1px solid #fff; */
            display: inline;
          }

          ::placeholder {
            color: #949494;
            font-weight: 700;
          }

          .icon {
            color: #32d197;
            /* border: 1px solid #fff; */
            /* color: #FFF; */
            display: inline;
          }
        }

        .contanct-saleman {
          box-sizing: border-box;
          text-align: left;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            background-color: #474747;
            width: 50%;
            height: 200px;
            font-size: 23px;
            text-align: center;
            vertical-align: middle;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

.furniture {
  @extend .healthcare;
  .product-card {
    background-color: $thirdy-color !important;
    height: 900px;
    color: #fff !important;
  }
}

.innovation {
  @extend .earth;
}

// Efectos
.test {
  background-color: #fff;
  transition: background 0.5s;
  border-radius: 0 0 3px 3px;
}

.toggle-efect {
  transition: left 5s;
  transition: right 5s;
}
